<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" crossorigin="anonymous">
    <style>
        body {
            background-image:url('http://oc7t636v9.bkt.clouddn.com/ram_mh.JPG');
            background-repeat:repeat;
            background-position:center top;
            background-attachment:fixed;
            background-size: contain;
            /*-webkit-filter: blur(15px);*/
        }
    </style>

    <title>Rebecca Cloud</title>
</head>
<body>
<div class="container"><div class="bg"></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Flint</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">点播 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">直播</a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.baidu.com">联系我们</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的电影票</a></li>
                            <li><a href="#">我的好友</a></li>
                            <li><a href="#">观看记录</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">我的信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--<div class="btn-group-vertical col-md-4 col-xs-4" role="group" aria-label="Vertical button group">-->
        <!--<button type="button" class="btn btn-primary">Rick and morty S02E01<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></button>-->
    <!--</div>-->
    <!--<div class="btn-group-vertical col-md-8 col-xs-8" role="group" aria-label="Vertical button group">-->
        <!--<button type="button" class="btn btn-default">Rick and morty S02E01</button>-->
    <!--</div>-->
    <!--onclick="jump('<%= data.files[i] %>')"-->

    <div class="btn-group-vertical col-md-4 col-xs-4" role="group" aria-label="Vertical button group">
        <% for(var i=0 ; i<data.files.length; i++){ %>
        <div type="button" class="btn btn-default seasonbtn" ><%=
                data.files[i]
            %></div>
        <% }%>
    </div>


    <div id="episodediv" class="btn-group-vertical col-md-8 col-xs-8" role="group" aria-label="Vertical button group">

    </div>

    <!--<div align="center"><video width="1080" src="http://103.107.106.254/hls/Django.mp4" controls="controls" ></video></div>-->

    <!--<div align="center" class="media">-->
        <!--<video class="media-object" src="http://103.107.104.254/hls/Django.mp4" controls="controls"></video>-->
        <!--&lt;!&ndash;<div class="media-body">&ndash;&gt;-->
            <!--&lt;!&ndash;<h4 class="media-heading">Media heading</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;被解救的姜戈&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div align="center" class="media"><video width="480pt" src="http://103.107.104.254/hls/Django.mp4" controls="controls" ></video></div>-->
</div>

<script src="javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.seasonbtn').click(function () {
            try {
                $('.seasonbtn').removeClass('btn-primary');
                $('.seasonbtn').addClass('btn-default');

//                $('.seasonbtn').append('<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>')
            }
            catch (err){console.log(err)}

            $(this).removeClass('btn-default');
            $(this).addClass('btn-primary');

            seasonname = $(this).html()
            htmlobj=$.ajax({url:"/vod/episodeload/"+seasonname, async:false});
            $('#episodediv').html(htmlobj.responseText);
        });
    });

//    $(document).ready(function () {
//        $('.episodebtn').click(function(){
//            episodename = $(this).html()
//            console.log('episodebtn::::!!!!!!', episodename);
//            window.location.href = '/player/'+episodename+'';
//        });
//    });


    function jump(e){
        let episodename = $(e).text();
        window.location.href = '/player/'+episodename+'';
//        window.location.href='/player/'+path+'';
    }
</script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>